<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Torneo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Registro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="registroParticipante">Participante</a></li>
                        <li><a class="dropdown-item" routerLink="registroEscuela">Escuela</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Eventos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="ring1()">Ring 1</a></li>
                        <li><a class="dropdown-item" (click)="ring2()">Ring 2</a></li>
                        <li><a class="dropdown-item" (click)="ring3()">Ring 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>